<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section})}">

<section>
    <div class="container-fluid p-5 mt-5">
        <div class="row">

            <div class="col-md-4 offset-md-4">
                <div class="card card-sh">

                    <div class="card-header text-center">
                        <p class="fs-4">Edit Category</p>

                        <p th:if="${session.succMsg}" class="text-success fw-bold">
                            [[${session.succMsg}]]
                        </p>

                        <p th:if="${session.errorMsg}" class="text-danger fw-bold">
                            [[${session.errorMsg}]]
                        </p>
                    </div>

                    <div class="card-body">
                        <form th:action="@{/admin/updateCategory}"
                              method="post"
                              enctype="multipart/form-data">

                            <!-- ID -->
                            <input type="hidden" name="id" th:value="${category.id}">

                            <!-- NAME -->
                            <div class="mb-3">
                                <label>Category Name</label>
                                <input type="text"
                                       class="form-control"
                                       name="name"
                                       th:value="${category.name}"
                                       required>
                            </div>

                            <!-- STATUS -->
                            <div class="mb-3">
                                <label>Status</label>

                                <div class="form-check">
                                    <input class="form-check-input"
                                           type="radio"
                                           name="isActive"
                                           value="true"
                                           th:checked="${category.isActive}">
                                    <label class="form-check-label">Active</label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input"
                                           type="radio"
                                           name="isActive"
                                           value="false"
                                           th:checked="${!category.isActive}">
                                    <label class="form-check-label">Inactive</label>
                                </div>
                            </div>

                            <!-- IMAGE -->
                            <div class="mb-3">
                                <label>Upload Image</label>
                                <input type="file" class="form-control" name="file">
                            </div>

                            <img th:src="@{'/img/category_img/' + ${category.imageName}}"
                                 width="150" height="150" class="mb-3">

                            <button class="btn btn-primary col-md-12">
                                Update Category
                            </button>
                        </form>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>
</html>
