<!DOCTYPE html>
<html lang="en" xmlns:th="http:thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>

<body>

	<section>

		<div class="container-fluid mt-5 p-5">



			<div class="row">
				<p class="text-center fs-3">All Orders</p>
				<hr>

				<th:block th:if="${session.succMsg}">
					<p class="text-success fw-bold text-center">[[${session.succMsg}]]</p>
					<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
				</th:block>

				<th:block th:if="${session.errorMsg}">
					<p class="text-danger fw-bold text-center">[[${session.errorMsg}]]</p>
					<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
				</th:block>

				<div class="row">
					<div class="col-md-3 p-3">
						<form action="/admin/search-order">
							<div class="input-group">
								<input type="text" class="form-control" name="orderId"
									placeholder="Enter Order ID">
								<button class="btn btn-primary ms-3">
									<i class="fa-solid fa-magnifying-glass"></i> Search
								</button>
							</div>
						</form>
					</div>
				</div>

				<div class="col-md-12 p-3">
					<table class="table table-bordered">
						<thead>
							<tr>
							<th scope="col">Sr. No.</th>
								<th scope="col">Order ID</th>
								<th scope="col">Deliver Details ID</th>
								<th scope="col">Date</th>
								<th scope="col">Product Details</th>
								<th scope="col">Price</th>
								<th scope="col">Payment</th>
								<th scope="col">Status</th>
								<th scope="col">Action</th>
							</tr>
						</thead>
						<tbody>
						
							<th:block th:if="${srch}">
								<th:block th:if="${orderDtls!=null}">
								<tr>
							<!--	<th scope="row">[[${orderDtls.orderId}]]</th>  -->
								<td>1</td>
								<td>[[${orderDtls.orderId}]]</td>
								<td>Name : [[${orderDtls.orderAddress.firstName+ ' '
									+orderDtls.orderAddress.lastName}]] <br> Email :
									[[${orderDtls.orderAddress.email}]] <br> Mobile No. :
									[[${orderDtls.orderAddress.mobileNo}]] <br> Address :
									[[${orderDtls.orderAddress.address}]] <br> City :
									[[${orderDtls.orderAddress.city}]] <br> State :
									[[${orderDtls.orderAddress.state}]] -
									[[${orderDtls.orderAddress.pincode}]]
								</td>
								<td>[[${orderDtls.orderDate}]]</td>
								<td>[[${orderDtls.product.title}]]</td>
								<td>Quantity : [[${orderDtls.quantity}]] <br> Price :
									[[${orderDtls.price}]] <br> Total Price : [[${orderDtls.quantity *
									orderDtls.price}]]
								</td>
								<td>[[${orderDtls.paymentType}]]</td>
								<td>[[${orderDtls.status}]]</td>
								<td>

									<form action="/admin/update-order-status" method="post">
										<div class="row">
											<div class="col">

												<select class="form-control" name="st">

													<option>--select--</option>
													<option value="1">In Progress</option>
													<option value="2">Order Received</option>
													<option value="3">Order Packed</option>
													<option value="4">Out for Delivery</option>
													<option value="5">Delivered</option>
													<option value="6">Cancelled</option>

												</select>
											</div>
											<input th:value="${orderDtls.id}" name="id" type="hidden">
											<div class="col">

												<th:block
													th:if="${orderDtls.status=='Cancelled' || orderDtls.status=='Delivered' }">
													<button class="btn btn-primary btn-sm col disabled">Update</button>
												</th:block>
												<th:block
													th:unless="${orderDtls.status=='Cancelled' || orderDtls.status=='Delivered' }">
													<button class="btn btn-primary btn-sm col">Update</button>
												</th:block>



											</div>

										</div>
									</form>


								</td>


							</tr>
							</th:block>
								
								<th:block th:unless="${orderDtls!=null}">
								<p class="fs-3 text-center text-danger">[[${errorMsg}]]</p>
								</th:block>
							</th:block>
							
							<th:block th:unless="${srch}">
								<tr th:each="order,c:${orders}">
								<!-- <th scope="row">[[${order.orderId}]]</th> -->
									<th scope="row">[[${c.count}]]</th>
								<td>[[${order.orderId}]]</td>
								<td>Name : [[${order.orderAddress.firstName+ ' '
									+order.orderAddress.lastName}]] <br> Email :
									[[${order.orderAddress.email}]] <br> Mobile No. :
									[[${order.orderAddress.mobileNo}]] <br> Address :
									[[${order.orderAddress.address}]] <br> City :
									[[${order.orderAddress.city}]] <br> State :
									[[${order.orderAddress.state}]] -
									[[${order.orderAddress.pincode}]]
								</td>
								<td>[[${order.orderDate}]]</td>
								<td>[[${order.product.title}]]</td>
								<td>Quantity : [[${order.quantity}]] <br> Price :
									[[${order.price}]] <br> Total Price : [[${order.quantity *
									order.price}]]
								</td>
								<td>[[${order.paymentType}]]</td>
								<td>[[${order.status}]]</td>
								<td>

									<form action="/admin/update-order-status" method="post">
										<div class="row">
											<div class="col">

												<select class="form-control" name="st">

													<option>--select--</option>
													<option value="1">In Progress</option>
													<option value="2">Order Received</option>
													<option value="3">Order Packed</option>
													<option value="4">Out for Delivery</option>
													<option value="5">Delivered</option>
													<option value="6">Cancelled</option>

												</select>
											</div>
											<input th:value="${order.id}" name="id" type="hidden">
											<div class="col">

												<th:block
													th:if="${order.status=='Cancelled' || order.status=='Delivered' }">
													<button class="btn btn-primary btn-sm col disabled">Update</button>
												</th:block>
												<th:block
													th:unless="${order.status=='Cancelled' || order.status=='Delivered' }">
													<button class="btn btn-primary btn-sm col">Update</button>
												</th:block>



											</div>

										</div>
									</form>


								</td>


							</tr>
							</th:block>
						
						
							
						</tbody>
					</table>
					<p>Note: COD = Cash On Delivery , Online = Online Payment</p>
				</div>

			</div>
			<div class="row">
				<div class="col-md-3 p-3">

					<a href="/admin/" class="btn btn-sm btn-primary"><i
						class="fa-solid fa-arrow-left"></i> Back</a>
				</div>
			</div>
			
			<th:block th:if="${!srch}">
			<!-- Start Pagination -->
					<div class="row">

						<div class="col-md-4">Total Orders : [[${totalElements}]]</div>
						<div class="col-md-6">
							
							<nav aria-label="Page navigation example">
								<ul class="pagination">
									<li class="page-item" th:classappend="${isFirst}? 'disabled' : ''"><a class="page-link" th:href="@{'/admin/orders?pageNo='+${pageNo-1}}"
										aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
									</a></li>
									<li th:each="i:${#numbers.sequence(1,totalPages)}"
										class="page-item"
										th:classappend="${pageNo+1==i}? 'active' : ''">
										<a class="page-link" th:href="@{'/admin/orders?pageNo='+${i-1}}">[[${i}]]</a></li>

									<li class="page-item" th:classappend="${isLast}? 'disabled' : ''"><a class="page-link" th:href="@{'/admin/orders?pageNo='+${pageNo+1}}"
										aria-label="Next"> <span aria-hidden="true">&raquo;</span>
									</a></li>
								</ul>
							</nav>
							
						</div>

					</div>
					</th:block>

		</div>

	</section>

	<h1>Demo page</h1>
</body>

</html>