<!DOCTYPE html>
<html lang="en" xmlns:th="http:thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>

<body>

	<section>

		<div class="container-fluid bg-light mt-5 p-5">

			<div class="row">

				<div class="col-md-10 offset-md-1">

				
							<p class="fs-3 text-center">My Profile</p>
							<div class="text-center">
							<th:block th:if="${session.succMsg}">
								<p class="text-success fw-bold">[[${session.succMsg}]]</p>
								<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
							</th:block>

							<th:block th:if="${session.errorMsg}">
								<p class="text-danger fw-bold">[[${session.errorMsg}]]</p>
								<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
							</th:block>
							</div>
							<hr>
							<div class="text-center">
								<img alt="" th:src="@{'../img/profile_img/'+${user.profileImage}}" class="border p-2"
									style="width: 100px; height: 100px; border-radius: 50%">
							</div>

							<div class="col-md-8 offset-md-2 mt-4">
								<table class="table table-borderless">

									<tbody>
										<form action="/admin/update-profile" method="post" enctype="multipart/form-data">
										<tr>
											<th scope="row">Name</th>
											<td>:</td>
											<td><input type="text" name="name" th:value="${user.name}"
												class="form-control"></td>
										</tr>
										<tr>
											<th scope="row">Email</th>
											<td>:</td>
											<td><input type="text" name="" th:value="${user.email}" readonly
												class="form-control"></td>
										</tr>
										<tr>
											<th scope="row">Mobile No.</th>
											<td>:</td>
											<td><input type="text" name="mobileNumber" th:value="${user.mobileNumber}"
												class="form-control"></td>
										</tr>
										<tr>
											<th scope="row">Address</th>
											<td>:</td>
											<td><input type="text" name="address" th:value="${user.address}"
												class="form-control"></td>
										</tr>
										<tr>
											<th scope="row">City</th>
											<td>:</td>
											<td><input type="text" name="city" th:value="${user.city}"
												class="form-control"></td>
										</tr>
										<tr>
											<th scope="row">State</th>
											<td>:</td>
											<td><input type="text" name="state" th:value="${user.state}"
												class="form-control"></td>
										</tr>
										<tr>
											<th scope="row">Pincode</th>
											<td>:</td>
											<td><input type="text" name="pincode" th:value="${user.pincode}"
												class="form-control"></td>
										</tr>
										<tr>
											<th scope="row">Image</th>
											<td>:</td>
											<td><input type="file" name="img" 
												class="form-control"></td>
										</tr>
										<tr>
											<th scope="row">Role</th>
											<td>:</td>
											<td><input type="text" name="" th:value="${user.role}" readonly
												class="form-control"></td>
										</tr>
										<tr>
											<th scope="row">Account Status</th>
											<td>:</td>
											<td><input type="text" name="" th:value="${user.isEnabled}"
												readonly class="form-control">
												<input type="hidden" th:value="${user.id}" name="id"></td>
										</tr>
										<tr class="text-center">
											<td></td>
											<td><button class="btn btn-sm btn-primary">Update</button></td>
										</tr>

										</form>
									</tbody>
								</table>
							</div>


						</div>
						<hr>
						<div class="col-md-10 offset-md-1 mt-1">
						
							<div class="row">
								<p class="fs-3 text-center">Change Password</p>
								
							<div class="col-md-8 offset-md-2 mt-4">
								<table class="table table-borderless">

									<tbody>
										<form action="/admin/change-password" method="post">
											<tr>
											<th scope="row">Current Password</th>
											<td>:</td>
											<td><input type="text" name="currentPassword" class="form-control"></td>
										</tr>
										<tr>
											<th scope="row">New Password</th>
											<td>:</td>
											<td><input type="text" name="newPassword" class="form-control"></td>
										</tr>
										<tr>
											<th scope="row">Confirm Password</th>
											<td>:</td>
											<td><input type="text" name="confirmPassword" class="form-control"></td>
										</tr>
											<tr class="text-center">
											<td></td>
											<td><button class="btn btn-sm btn-primary">Update</button></td>
										</tr>
										</form>
									</tbody>
								</table>		
							</div>
						
						</div>
					</div>
					</div>



				</div>

			

	</section>

	<h1>Demo page</h1>
</body>

</html>