<!DOCTYPE html>
<html lang="en" xmlns:th="http:thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>

<body>
	<section>
		<br>
		<div class="container mt-5">

			<div class="row">
				<div class="col-md-3 p-3">
					<form action="/admin/users" method="get">
						<input type="hidden" name="type" th:value="${userType}">
						<div class="input-group">
							<input type="text" class="form-control" name="ch"
								th:value="${ch}" placeholder="Search name or email">
							<button class="btn btn-primary ms-2">
								<i class="fa-solid fa-magnifying-glass"></i>
							</button>
						</div>
					</form>
				</div>
			</div>

			<div class="card card-sh">
				<div class="card-header text-center">
					<p class="fs-4" th:if="${userType==1}">Users</p>
					<p class="fs-4" th:if="${userType==2}">Admins</p>
					<th:block th:if="${session.succMsg}">
						<p class="text-success fw-bold">[[${session.succMsg}]]</p>
						<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
					</th:block>

					<th:block th:if="${session.errorMsg}">
						<p class="text-danger fw-bold">[[${session.errorMsg}]]</p>
						<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
					</th:block>
				</div>
				<div class="card-body">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">Sr. No.</th>
								<th scope="col">Profile Image</th>
								<th scope="col">Name</th>
								<th scope="col">Email</th>
								<th scope="col">Mobile No.</th>
								<th scope="col">Address</th>
								<th scope="col">Status</th>
								<th scope="col">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="u,c:${users}">
								<th scope="row">[[${c.count}]]</th>
								<td><img th:src="@{'/img/profile_img/'+${u.profileImage}}"
									width="70px" height="70px"></td>
								<td>[[${u.name}]]</td>
								<td>[[${u.email}]]</td>
								<td>[[${u.mobileNumber}]]</td>
								<td>
									<!-- [[${u.address+','+u.city+','+u.state+','+u.pincode}]] -->
									[[${u.address}]] , [[${u.city}]] ,<br> [[${u.state}]] -
									[[${u.pincode}]]

								</td>
								<td>[[${u.isEnabled}]]</td>

								<td><a
									th:href="@{'/admin/updateStatus?status=true&id='+${u.id}}+'&type='+${userType}"
									class="btn btn-sm btn-primary">Active </a> <a
									th:href="@{'/admin/updateStatus?status=false&id='+${u.id}}+'&type='+${userType}"
									class="btn btn-sm btn-danger">Inactive </a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div class="row">
				<div class="col-md-3 p-3">

					<a href="/admin/" class="btn btn-sm btn-primary"><i
						class="fa-solid fa-arrow-left"></i> Back</a>
				</div>
			</div>

		</div>
		<!-- Pagination -->
		<div class="row mt-3">

			<div class="col-md-4">Total Users : [[${totalElements}]]</div>

			<div class="col-md-6">
				<nav>
					<ul class="pagination">

						<li class="page-item" th:classappend="${isFirst}? 'disabled' : ''">
							<a class="page-link"
							th:href="@{'/admin/users?pageNo=' + ${pageNo-1} + '&type=' + ${userType} + '&ch=' + ${ch}}">
								&laquo; </a>
						</li>

						<li th:each="i:${#numbers.sequence(1,totalPages)}"
							class="page-item" th:classappend="${pageNo+1==i}? 'active' : ''">
							<a class="page-link"
							th:href="@{'/admin/users?pageNo=' + ${i-1} + '&type=' + ${userType} + '&ch=' + ${ch}}">
								[[${i}]] </a>
						</li>

						<li class="page-item" th:classappend="${isLast}? 'disabled' : ''">
							<a class="page-link"
							th:href="@{'/admin/users?pageNo=' + ${pageNo+1} + '&type=' + ${userType} + '&ch=' + ${ch}}">
								&raquo; </a>
						</li>


					</ul>
				</nav>
			</div>

		</div>

		<br>
	</section>
</body>

</html>