<!DOCTYPE html>
<html lang="en" xmlns:th="http:thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>

<body>

	<section>

		<div class="container mt-5 p-5">

			<div class="row">

				<div class="col-md-10 offset-md-1">

				
							<p class="fs-3 text-center">My Profile</p>
							<hr>
							<div class="text-center">
								<img alt="" src="../img/profile_img/ecom.png" class="border p-2"
									style="width: 100px; height: 100px; border-radius: 50%">
							</div>

							<div class="col-md-6 offset-md-3 mt-4">
								<table class="table table-borderless">

									<tbody>
										<form action="">
										<tr>
											<th scope="row">Name</th>
											<td>:</td>
											<td><input type="text" name="" value="Ecom User"
												class="form-control"></td>
										</tr>
										<tr>
											<th scope="row">Email</th>
											<td>:</td>
											<td><input type="text" name="" value="Ecom User" readonly
												class="form-control"></td>
										</tr>
										<tr>
											<th scope="row">Mobile No.</th>
											<td>:</td>
											<td><input type="text" name="" value="6325417896"
												class="form-control"></td>
										</tr>
										<tr>
											<th scope="row">Address</th>
											<td>:</td>
											<td><input type="text" name="" value="Ecom"
												class="form-control"></td>
										</tr>
										<tr>
											<th scope="row">City</th>
											<td>:</td>
											<td><input type="text" name="" value="Ecom User"
												class="form-control"></td>
										</tr>
										<tr>
											<th scope="row">State</th>
											<td>:</td>
											<td><input type="text" name="" value="Ecom User"
												class="form-control"></td>
										</tr>
										<tr>
											<th scope="row">Pincode</th>
											<td>:</td>
											<td><input type="text" name="" value="635298"
												class="form-control"></td>
										</tr>
										<tr>
											<th scope="row">Image</th>
											<td>:</td>
											<td><input type="file" name="" value=""
												class="form-control"></td>
										</tr>
										<tr>
											<th scope="row">Role</th>
											<td>:</td>
											<td><input type="text" name="" value="User" readonly
												class="form-control"></td>
										</tr>
										<tr>
											<th scope="row">Account Status</th>
											<td>:</td>
											<td><input type="text" name="" value="Ecom User"
												readonly class="form-control"></td>
										</tr>
										<tr class="text-center">
											<td></td>
											<td><button class="btn btn-sm btn-primary">Update</button></td>
										</tr>

										</form>
									</tbody>
								</table>
							</div>


						</div>
						<hr>
						<div class="col-md-10 offset-md-1 mt-1">
						
							<div class="row">
								<p class="fs-3 text-center">Change Password</p>
								
							<div class="col-md-6 offset-md-3 mt-4">
								<table class="table table-borderless">

									<tbody>
										<form action="">
											<tr>
											<th scope="row">Current Password</th>
											<td>:</td>
											<td><input type="text" name="" class="form-control"></td>
										</tr>
										<tr>
											<th scope="row">New Password</th>
											<td>:</td>
											<td><input type="text" name="" class="form-control"></td>
										</tr>
										<tr>
											<th scope="row">Confirm Password</th>
											<td>:</td>
											<td><input type="text" name="" class="form-control"></td>
										</tr>
											<tr class="text-center">
											<td></td>
											<td><button class="btn btn-sm btn-primary">Update</button></td>
										</tr>
										</form>
									</tbody>
								</table>		
							</div>
						
						</div>
					</div>
					</div>



				</div>

			

	</section>

	<h1>Demo page</h1>
</body>

</html>